In [291]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [292]:
#access subway data
#number of days in month * 143 unique stations = one month of entries
url_sc = 'https://data.cityofchicago.org/resource/5neh-572f.json?$where=date%20%3E%272021-05-15%27&$limit=4433'
subway_df_closed = pd.read_json(url_sc)

url_so = 'https://data.cityofchicago.org/resource/5neh-572f.json?$where=date%20%3E%272021-04-15%27&$limit=4290'
subway_df_open = pd.read_json(url_so)

In [293]:
print('there are ' + str(len(np.unique(subway_df['station_id']))) + ' unique CTA stations')
print(np.unique(subway_df['date']))

there are 143 unique CTA stations
['2021-04-17T00:00:00.000000000' '2021-04-18T00:00:00.000000000'
 '2021-04-19T00:00:00.000000000' '2021-04-20T00:00:00.000000000'
 '2021-04-21T00:00:00.000000000' '2021-04-22T00:00:00.000000000'
 '2021-04-23T00:00:00.000000000' '2021-04-24T00:00:00.000000000'
 '2021-04-25T00:00:00.000000000' '2021-04-26T00:00:00.000000000'
 '2021-04-27T00:00:00.000000000' '2021-04-28T00:00:00.000000000'
 '2021-04-29T00:00:00.000000000' '2021-04-30T00:00:00.000000000'
 '2021-05-01T00:00:00.000000000' '2021-05-02T00:00:00.000000000'
 '2021-05-03T00:00:00.000000000' '2021-05-04T00:00:00.000000000'
 '2021-05-05T00:00:00.000000000' '2021-05-06T00:00:00.000000000'
 '2021-05-07T00:00:00.000000000' '2021-05-08T00:00:00.000000000'
 '2021-05-09T00:00:00.000000000' '2021-05-10T00:00:00.000000000'
 '2021-05-11T00:00:00.000000000' '2021-05-12T00:00:00.000000000'
 '2021-05-13T00:00:00.000000000' '2021-05-14T00:00:00.000000000'
 '2021-05-15T00:00:00.000000000' '2021-05-16T00:00:00.000000000']

In [294]:
subway_df_open.head()

   station_id         stationname       date daytype  rides
0       40010  Austin-Forest Park 2021-04-16       W    488
1       40020         Harlem-Lake 2021-04-16       W   1286
2       40030        Pulaski-Lake 2021-04-16       W    613
3       40040        Quincy/Wells 2021-04-16       W    932
4       40050               Davis 2021-04-16       W   1041

In [295]:
#access traffic data
url_tc = 'https://data.cityofchicago.org/resource/sxs8-h27x.json?$where=time%20between%20%272021-05-16T00:00:00%27%20and%20%272021-06-16T00:00:00%27&segment_id=1185'
url_to = 'https://data.cityofchicago.org/resource/sxs8-h27x.json?$where=time%20between%20%272021-04-16T00:00:00%27%20and%20%272021-05-16T00:00:00%27&segment_id=1185'

traffic_df_closed = pd.read_json(url_tc)
traffic_df_open = pd.read_json(url_to)

In [296]:
np.shape(traffic_df_closed) #traffic data is collected every 
traffic_df_closed_clean = traffic_df_closed[traffic_df_closed['speed'] != -1]
traffic_df_open_clean = traffic_df_open[traffic_df_closed['speed'] != -1]

In [297]:
#get all valid data from a specific day
traffic_df_closed_clean[traffic_df_closed_clean['time'].str.contains('2021-05-17')]

,time,segment_id,speed,street,direction,from_street,to_street,length,street_heading,bus_count,...,hour,day_of_week,month,record_id,start_latitude,start_longitude,end_latitude,end_longitude,start_location,end_location
149,2021-05-17T04:10:24.000,1185,33,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,4,2,5,1185-202105170910,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
151,2021-05-17T04:31:02.000,1185,29,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,4,2,5,1185-202105170931,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
153,2021-05-17T04:50:32.000,1185,24,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,4,2,5,1185-202105170950,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
154,2021-05-17T05:20:58.000,1185,31,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,5,2,5,1185-202105171020,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
157,2021-05-17T05:10:41.000,1185,25,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,5,2,5,1185-202105171010,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2021-05-17T22:11:03.000,1185,24,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,22,2,5,1185-202105180311,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
250,2021-05-17T23:31:09.000,1185,24,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,23,2,5,1185-202105180431,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
251,2021-05-17T23:01:44.000,1185,26,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,23,2,5,1185-202105180401,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
252,2021-05-17T23:10:36.000,1185,21,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,23,2,5,1185-202105180410,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."
254,2021-05-17T23:40:27.000,1185,26,Broadway,SB,Devon,Hollywood,0.882968,N,1,...,23,2,5,1185-202105180440,41.99821,-87.660573,41.985464,-87.660309,"{'type': 'Point', 'coordinates': [-87.66057284...","{'type': 'Point', 'coordinates': [-87.66030944..."

In [298]:
#modified from: 
#https://stackoverflow.com/questions/7274267/print-all-day-dates-between-two-dates
from datetime import date, timedelta
def dates(startyear, startmon, startday, endyear, endmon, endday): #in (year, month, day) format
    start_date = date(startyear, startmon, startday) 
    end_date = date(endyear, endmon, endday)    # perhaps date.now()

    delta = end_date - start_date   # returns timedelta
    days = []
    for i in range(delta.days + 1):
        day = start_date + timedelta(days=i)
        days.append(str(day))
    return days

In [299]:
dates(2021,5,1, 2021,6,16)[0:5]

['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04', '2021-05-05']

In [300]:
#write a function to average over each day in the month for the street of interest
def daily_average_speed(df, startyear, startmon, startday, endyear, endmon, endday):
    daily_avg_df = pd.DataFrame()
    days = dates(startyear, startmon, startday, endyear, endmon, endday)
    means = []
    streets = []
    directions = []
    segment_ids = []
    weekday = []
    existingdates = []
    daysmissing = 0
    for day in days:
        #get all valid data from a specific day
        one_day_df = df[df['time'].str.contains(day)]
        if np.unique(one_day_df['segment_id']).size <= 0:
            daysmissing +=1
            continue
        avg_speed_one_day = np.mean(one_day_df['speed'])
        means.append(avg_speed_one_day)
        streets.append(np.unique(one_day_df['street']))
        directions.append(np.unique(one_day_df['direction']))
        segment_ids.append(np.unique(one_day_df['segment_id']))
        weekday.append(np.unique(one_day_df['day_of_week']))
        existingdates.append(day)
    daily_avg_df['segment_id'] = segment_ids
    daily_avg_df['date'] = existingdates
    daily_avg_df['avg_daily_speed'] = means
    daily_avg_df['street'] = streets
    daily_avg_df['direction'] = directions
    daily_avg_df['day_of_week'] = weekday
    print('This timeframe has this many days missing: ' + str(daysmissing))
    return daily_avg_df

In [301]:
daily_avg_traffic_df_closed = daily_average_speed(traffic_df_closed_clean,2021,5,16, 2021,6,16)
daily_avg_traffic_df_open = daily_average_speed(traffic_df_open_clean,2021,4,16, 2021,5,16)

This timeframe has this many days missing: 24
This timeframe has this many days missing: 23

In [302]:
daily_avg_traffic_df_open

  segment_id        date  avg_daily_speed      street direction day_of_week
0     [1185]  2021-04-16        15.857143  [Broadway]      [SB]         [6]
1     [1185]  2021-04-17        12.367925  [Broadway]      [SB]         [7]
2     [1185]  2021-04-18        11.990099  [Broadway]      [SB]         [1]
3     [1185]  2021-04-19        15.773196  [Broadway]      [SB]         [2]
4     [1185]  2021-04-20        14.634409  [Broadway]      [SB]         [3]
5     [1185]  2021-04-21        16.348837  [Broadway]      [SB]         [4]
6     [1185]  2021-05-14        14.923077  [Broadway]      [SB]         [6]
7     [1185]  2021-05-15        15.234043  [Broadway]      [SB]         [7]

In [303]:
#change column name to match subway data (day -> date)
daily_avg_traffic_df_closed.rename(columns={'day':'date'}, inplace=True)
daily_avg_traffic_df_open.rename(columns={'day':'date'}, inplace=True)

In [304]:
#add column for open or closed
daily_avg_traffic_df_closed['maintainence'] = 1
daily_avg_traffic_df_open['maintainence'] = 0
subway_df_closed['maintainence'] = 1
subway_df_open['maintainence'] = 0

In [314]:
subway_df_closed['date'] = subway_df_closed['date'].dt.date

In [315]:
print(daily_avg_traffic_df_closed.head())
print(subway_df_closed.head())

  segment_id        date  avg_daily_speed      street direction day_of_week  \
0     [1185]  2021-05-16        25.352941  [Broadway]      [SB]         [1]
1     [1185]  2021-05-17        24.100000  [Broadway]      [SB]         [2]
2     [1185]  2021-05-18        23.277778  [Broadway]      [SB]         [3]
3     [1185]  2021-05-19        24.422018  [Broadway]      [SB]         [4]
4     [1185]  2021-05-20        25.009346  [Broadway]      [SB]         [5]

   maintainence
0             1
1             1
2             1
3             1
4             1
   station_id         stationname        date daytype  rides  maintainence
0       40010  Austin-Forest Park  2021-05-16       U    269             1
1       40020         Harlem-Lake  2021-05-16       U    767             1
2       40030        Pulaski-Lake  2021-05-16       U    392             1
3       40040        Quincy/Wells  2021-05-16       U    548             1
4       40050               Davis  2021-05-16       U    691             1

In [316]:
print(daily_avg_traffic_df_closed.dtypes)
print(subway_df_closed.dtypes)

segment_id          object
date                object
avg_daily_speed    float64
street              object
direction           object
day_of_week         object
maintainence         int64
dtype: object
station_id       int64
stationname     object
date            object
daytype         object
rides            int64
maintainence     int64
dtype: object

In [317]:
daily_avg_traffic_df_closed.merge(subway_df_closed, on = 'date')

Empty DataFrame
Columns: [segment_id, date, avg_daily_speed, street, direction, day_of_week, maintainence_x, station_id, stationname, daytype, rides, maintainence_y]
Index: []

In [318]:
daily_avg_traffic_df_closed

,segment_id,date,avg_daily_speed,street,direction,day_of_week,maintainence
0,[1185],2021-05-16,25.352941,[Broadway],[SB],[1],1
1,[1185],2021-05-17,24.100000,[Broadway],[SB],[2],1
2,[1185],2021-05-18,23.277778,[Broadway],[SB],[3],1
3,[1185],2021-05-19,24.422018,[Broadway],[SB],[4],1
4,[1185],2021-05-20,25.009346,[Broadway],[SB],[5],1
5,[1185],2021-05-21,23.141176,[Broadway],[SB],[6],1
6,[1185],2021-05-22,23.444444,[Broadway],[SB],[7],1
7,[1185],2021-06-13,24.215385,[Broadway],[SB],[1],1

In [319]:
subway_df_closed

,station_id,stationname,date,daytype,rides,maintainence
0,40010,Austin-Forest Park,2021-05-16,U,269,1
1,40020,Harlem-Lake,2021-05-16,U,767,1
2,40030,Pulaski-Lake,2021-05-16,U,392,1
3,40040,Quincy/Wells,2021-05-16,U,548,1
4,40050,Davis,2021-05-16,U,691,1
...,...,...,...,...,...,...
4428,41660,Lake/State,2021-06-15,W,6149,1
4429,41670,Conservatory,2021-06-15,W,584,1
4430,41680,Oakton-Skokie,2021-06-15,W,348,1
4431,41690,Cermak-McCormick Place,2021-06-15,W,606,1
4432,41700,Washington/Wabash,2021-06-15,W,4075,1